html{
  min-height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(/img/bg2.jpg) no-repeat;
  background-size: 100%;
  background-color: #95e8f3;
  min-height: 100%;
}
#list{
text-decoration: none !important;
color:red !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
form{
  padding:20px;
  margin-top:10px;
  margin-bottom:20px;
}
#Link{text-decoration:none;
  font-size:16px;
  font-weight: bold;
}
#Link:hover{text-decoration:none;
color:red;
font-size:16px;
font-weight: bold;
}